* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
};

.lesson__title {
    border-bottom: 1px solid #9d9d9d;
    text-align: center;
};

.count__wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}