.food-list {
    padding: 100px 0;
}

.food-list .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.container {
}

.food-list__card {
  width: 260px;
  overflow: hidden;
  text-align: center;
  background: #312f30;
  border-radius: 10px;
}

.food-list__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.food-list__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 20px;

}

.food-list__title {
  font-size: 20px;
}

.food-list__desc {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}
