* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
}

.container {
    width: 1400px;

}

.header {
    height: 173px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}

.phone {
    font-weight: 600;
    font-size: 24px;
}

.adress {
    font-weight: 400;
    font-size: 16px;
}

.social {
    display: flex;
    gap: 15px;
}

.info {
    height: 56px;
     width: 1400px;
    background-color: #00afcc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.about {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.about__text {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.constructor{
    border-left: 2px solid #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    width: 240px;
    font-weight: 700;
    font-size: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/project-one/images/bg.svg);
    height: 401px;
    width: 1400px;
    padding: 0 15px 0 15px;
    position: relative;
}

.group {
    display: flex;
    gap: 85px;
    width: 100%;
}

.main__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main__info__header {
    color: #fff;
    font-size: 52px;
    font-weight: 800;
    text-align: start;
}

.button {
    border: none;
    width: 300px;
    height: 61px;
    background-color: #ff7d00;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
}

.bag {
    position: absolute;
    top: 62%;
    left: 85%;
}

.about__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 233px;
    background-color: #73E5FF;
    padding: 0 15px 0 15px;
    width: 1400px;
    text-align: start;
    gap: 25px;
}

.about__header {
    width: 660px;
    height: 46px;
    font-weight: 700;
    font-size: 40px;
    color: #000 ;
}

.about__description {
    font-size: 20px;
    height: 96px;
    width: 1011px;
    line-height: 45px;
    font-weight: 600;
}

.catalog {
    height: 1208px;
}