.second__wrapper-about {
  height: 101vh;
  background: -webkit-linear-gradient(90deg, #964292, #ee731f);
  background: linear-gradient(90deg, #964292, #ee731f);
  display: flex;
  justify-content: center;
}

.second__wrapper-header {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  margin-top: 4rem;
}

.second__wrapper-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second__wrapper-info-text {
  display: flex;
  align-items: center;
  height: 600px;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
