.four__wrapper {
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
}

.four__wrapper-header {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  margin-top: 4rem;
}
