.four__wrapper {
  height: 100vh;
  background: -webkit-linear-gradient(90deg, #1abc9c, #1f2c51);
  background: linear-gradient(90deg, #1abc9c, #1f2c51);
  display: flex;
  justify-content: center;
}

.four__wrapper-header {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  margin-top: 4rem;
}

.container a {
  text-decoration: none;
}

.container a img {
  width: 500px;
  border-radius: 10px;
}

.myProjects {
  margin-top: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: 400px 450px 300px;
  grid-template-rows: 500px;
}
