.main__header {
  height: 80px;
  display: flex;
  justify-content: space-between;
    background-color: #F5F1EB;
  border-radius: 0 0 7px 7px;
}

.main__header img:hover {
  cursor: pointer;
}

.navigation {
  width: 40%;
  font-weight: 500;
}

.info__list {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info__list__item {
  font-size: 20px;
  transition: .5s
}

.info__list__item:hover {
  cursor: pointer;
  scale: 1.1;
}
