@import url(card.css);
@import url(./header.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Open Sans;
}

.main__page {
    background-color: #D9CFC3;
    height: 100vh;
}

