body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  background-color: skyblue;
}

.div {
  background-color: blue;
  width: 300px;
  height: 300px;
  display: flex;
  flex: 1 1 auto;
}

p::first-line {
  font-weight: bold;
  color: red;
}

.main {
  display: inline-flex;
  gap: 20px;
}

.load-todo-form {
  height: 250px;
  width: 400px;
  background-color: wheat;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15px;
}

.result {
  width: 400px;
  height: 250px;
  font-weight: bold;
  background-color: crimson;
  border-radius: 10px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
