body {
  background-color: gray;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-wrapper .user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;
}
