* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(196, 188, 188);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    min-width: 500px;
    margin: 0 auto;
    gap: 30px;
}

.cars__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 3px;
}