@import url(reset.css);
@import url(./components/button.css);
@import url(./components/news-card.css);

.test__main {
    display: flex;
    gap: 10px;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.test1 {
  background-color: red;
}
.test2 {
  background-color: orange;
}
.test3 {
  background-color: blue;
}
.test4 {
  background-color: green;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    background-color: #fff;
}

main {
    height: 500vh;
}



