@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./header/header.css);
@import url(./welcome/welcome.css);
@import url(./food-list/food-list.css);
@import url(order/order.css);
@import url(./product/product.css);
@import url(./feedback/feedback.css);
@import url(./download/download.css);
@import url(./footer/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Общие стили */

body {
  background-color: #1c1c1c;
  color: #fff;
}

img {
  /* max-width: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
}

p + p {
  margin-top: 15px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 16px;

  width: 165px;
  height: 50px;
  background-color: #f6762c;
  border-radius: 5px;

  transition: opacity 0.3s;
  text-transform: uppercase;
}

.btn--small {
  width: 140px;
  height: 40px;
  font-size: 12px;
}

.btn:hover {
  opacity: 0.8;
}
