.header {
  padding: 25px 0;
  z-index: 3;
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.header__logo {
}

.header__nav {
}

.header__nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header__nav a.active {
  opacity: 1;
}

.header__nav a:hover {
  opacity: 0.9;
}

.header__list {
  display: flex;
  gap: 30px;
  font-size: 14px;
}
