@media (max-width: 1100px) {
  .welcome__desc {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .order .container {
    flex-direction: column;
    padding-right: 15px;
  }

  .order__text {
    text-align: center;
  }

  .order .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 850px) {
  .food-list .container {
    justify-content: space-evenly;
  }

  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "contacts socials";
    justify-items: center;
    gap: 40px 150px;
  }

  .footer__contacts {
    grid-area: contacts;
    justify-self: end;
  }

  .footer__nav {
    grid-area: nav;
  }

  .footer__socials {
    grid-area: socials;
    align-self: center;
    justify-self: start;
  }

  .footer__list {
    gap: 80px;
  }

  .feedback {
    padding-bottom: 100px;
  }

  .footer {
    padding: 60px 0;
  }
}

@media (max-width: 650px) {
  .header .btn {
    display: none;
  }

  .feedback__img {
    width: 200px;
  }

  .welcome {
    padding: 150px 0 100px 0;
    min-height: auto;
  }

  .feedback__desc {
    /* width: 300px; */
  }
  /* 
    .feedback__desc {
        font-size: 30px;
    } */

  .welcome__text {
    width: 100%;
  }

  .download__title {
    font-size: 24px;
  }

  .welcome__title {
    font-size: 40px;
  }

  .welcome__desc {
    margin: 20px 0;
  }

  .product {
    margin: 60px 0 100px;
  }

  .product__card {
    width: 100%;
    padding-left: 50%;
  }

  .product__card:nth-child(even) {
    padding-right: 50%;
  }
  /* 
    .download .container {

    } */

  /* .header .container {
        flex-direction: column;
        gap: 10px;
    }

    .header__list {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }



    .welcome {
        margin-top: -240px;
    }
 */
}

@media (max-width: 500px) {
  .download .container {
  }

  .header .container {
    flex-direction: column;
    gap: 10px;
  }

  .header__list {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  .welcome {
    margin-top: -240px;
    padding-top: 280px;
    padding-bottom: 80px;
  }

  .welcome__title {
    font-size: 30px;
  }

  .welcome__desc {
    font-size: 12px;
  }

  .food-list .order {
    padding: 50px 0;
  }

  .order__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .order__img {
    width: 100%;
  }

  .feedback .container {
    flex-direction: column;
  }


  .download .container {
    flex-direction: column;
    gap: 20px;
  }

  .footer .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .footer__contacts {
    align-items: center;
  }

  .footer__socials-icons {
    display: flex;
    justify-content: center;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer .footer__title {
    margin-bottom: 10px;
  }

  .footer__list-item + .footer__list-item {
    margin-top: 7px;
  }
  .footer__logo {
    margin-bottom: 10px;
  }

  .feedback__author {
    font-size: 18px;
  }

  .feedback__desc {
    margin: 20px 0;
    font-size: 14px;


  }

  .product__card {
    padding-left: 30px;
  }

  .product__card:nth-child(even) {
    padding-right: 30px;
    padding-left: 30px;
  }

  .product__desc {
    opacity: 1;
  }

  .product__card {
    position: relative;

  }

  .product__card > * {
    position: relative;
    z-index: 10;
  }

  .product__card::before {

    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

  }

  .welcome .container {
    position: relative;
    z-index: 10;
  }

    .welcome::before {

    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

  }
}
