button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 7px 15px;
}

.btn.btn__main {
  color: black;
  background-color: skyblue;
  border-radius: 7px;
  transition: all 0.33s ease-in-out;
}

.btn.btn__main:hover {
  background-color: blue;
  color: white;
}

.btn.btn__outline {
  border: #000 1px solid;
  border-radius: 5px;
  transition: all 0.33s ease-in-out;
}

.news__card .news__card__footer {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.news__card__footer .news__card__button {
  width: 50%;
}
