.news__card__block {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.news__card {
  width: calc(33% - 5px);
  min-width: 200px;
  max-width: 350px;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 15px;
}

.news__card .news__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
