html,
body {
  position: relative;
  height: 100%;
}

:root {
  --swiper-pagination-bullet-width: 50px;
  --swiper-pagination-bullet-border-radius: 15px;
   
  --swiper-pagination-color : #00b7c3;
  --swiper-pagination-bullet-inactive-color:#b2e9ec;
  --swiper-pagination-bullet-height: 6px;
  /* --swiper-pagination-bottom: -40px; */
}

body {
  background: #f9f9f9;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper-wrapper {
  /* overflow: visible !important; */
}



.swiper {
  width: 90%;
  /* height: 60vh; */
  margin-top: 50px;
  /* border-radius: 15px; */
  /* overflow: visible; */
  box-sizing: border-box;
 align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  color: #1d1d1d;
  font-size: 48px;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 15px;
  height: 500px
};

.swiper-slide img {
  display: block;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
    position: relative;
}

/* CARDS */

.who {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  width: 100%;
  height: 50%;
  gap: 30px;
  border-radius: 15px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 46%;
  left: 33%;
  gap: 7px;
  width: 110px;
  height: 25px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.star {
  width: 15px !important;
  height: 15px !important;
}

.name {
  color: #1d1d1d;
  margin: 0 0 10px 0;
  padding: 0;
}

.about__block p {
  color: #737373;
  margin: 0;
  padding: 0;
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  display: flex;
  align-items: center;
}

.description p {
  color: #1d1d1d;
  margin: 40px 10px;
}

.swiper-pagination {
  position: static;
  margin-top: 40px;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  /* width: 15px; */
}


@media screen and (max-width: 1200px) {
  .who {
  gap: 20px;
}
}

@media screen and (max-width: 1034px) {
  .who {
  gap: 10px;
}
}
