html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #dfd5d5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}


.swiper {
  width: 90%;
  height: 60vh;
  margin-top: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  color: #1d1d1d;
  font-size: 48px;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 60vh;
}

.swiper-slide img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* CARDS */

.who {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  width: 100%;
  height: 50%;
  gap: 30px;
  border-radius: 15px;
  position: relative;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 253px;
  left: 33%;
  gap: 7px;
  width: 110px;
  height: 25px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.star {
  width: 15px !important;
  height: 15px !important;
}

.name {
  color: #1d1d1d;
  margin: 0 0 10px 0;
  padding: 0;
}

.about__block p {
  color: #737373;
  margin: 0;
  padding: 0;
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  display: flex;
  align-items: center;
}

.description p {
  color: #1d1d1d;
  margin: 40px 10px;
}
