.order {
  background: #312f30;
  padding: 60px 0;

}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}

.order__img {
    max-width: 470px;
}

.order__text {
    max-width: 360px;
}

.order__title {
  margin-bottom: 25px;
  font-size: 44px;
}

.order__desc {
  margin-bottom: 15px;
  opacity: 0.7;
}

.order__price {
  color: #f6762c;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.order__old-price {
  color: #f6762c;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.order__old-price {
    margin-left: 3px;
}

.order .btn {
    margin-top: 10px;
}