.product {
  margin: 150px 0;
}
.product .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product__card {
  width: 540px;
  min-height: 300px;
  padding: 60px 30px 60px 290px;
  background-color: gray;
}

.product__card:nth-child(even) {
  padding-left: 50px;
  padding-right: 290px;
}

.card-queen {
  background-image: url(../../images/product-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-hut {
  background-image: url(../../images/product-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-king {
  background-image: url(../../images/product-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-papa {
  background-image: url(../../images/product-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.product__desc {
  margin-bottom: 10px;
  opacity: 0.7;
}

.product__price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #f6762c;
}

.product__old-price {
  margin-left: 5px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration-line: line-through;
  opacity: 0.5;
  color: #f6762c;
}

.product .btn {
  margin-top: 10px;
}
