.footer {
  padding: 120px 0;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.3s;
}

footer .footer__title {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.container {
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer__link + .footer__link {
  margin-top: 10px;
}

.footer__link::before {
  width: 12px;
  height: 12px;
}

.footer__link-mail::before {
  content: url(../../images/icons/mail.svg);
}

.footer__link-web::before {
  content: url(../../images/icons/global.svg);
}

.footer__link-mail {
}

.footer__nav {
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__list-title {
}

.footer__inner-list {
}

.footer__list-item + .footer__list-item {
  margin-top: 15px;
}

.footer__socials {
}

.footer__socials-icons {
}

.footer__socials-link + .footer__socials-link {
  margin-left: 9px;
}

.footer__socials-icon {
}

.footer__logo {
  width: 70px;
  margin-bottom: 20px;
}
