* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    font-size: 16px;
}

body {
    background-color: gray;
}

.blue {
    font-size: 1rem; 
}

p {
    font-size: 1rem;
}